.App {
  text-align: center;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.countryCard {
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.countryCard img {
  width: 100%;
  height: auto;
}
